* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*START NAVBAR*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px 0 black;
}

.navbar {
    background-image: linear-gradient(to right, white, purple);
    padding: 0% !important;
}

.navbar-brand img {
    height: 60px;
    width: 100px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a:hover {
    background-color: white;
    color: purple !important;
    border-radius: 10px;
    border: 3px solid white;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
    float: right;
    text-align: left;
    font-size: larger;
    border-radius: 10px;
    border: 3px solid transparent;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;
}
/*END NAVBAR*/

/*START HOME*/
#home {
    background-color: white;
    color: purple;
    padding-top: 5%;
}

.promo-title {
    font-size: 55px;
    font-weight: bolder;
    margin-top: 100px;
}

.caption {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*END HOME*/

/*START ABOUT*/
#about {
    background-color: purple;
}

p.about-title {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

div.visi {
    color: purple;
    font-family: Arial;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

div.misi {
    color: purple;
    margin-bottom: 40px;
    padding-top: 10px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.top-img {
    width: 100%;
}

#visi-title {
    font-size: 20px !important;
    font-weight: bold !important;
}

#misi-title {
    font-size: 20px !important;
    font-weight: bold !important;
    padding-top: 20px !important;
}

div.visi p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

div.misi p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1px;
}

.bottom-img {
    width: 100%;
}
/*END ABOUT*/

/*START PROGRAMS*/
#programs {
    background-color: white;
}

.title-program {
    margin-top: 10px;
    margin-bottom: 10px;
}

.programs-title {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.card-text-programs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: purple;
    margin-top: 15px;
    font-weight: bold;
}

.card-programs {
    border-width: 4px !important;
    border-color: purple !important;
    border-radius: 5px !important;
}

.programs-other {
    margin-top: 50px;
}

.other-programs {
    font-size: 25px;
    color: purple;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.other-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: purple;
}
/*END PROGRAMS*/

/*START GALLERY*/
#gallery {
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery-title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.photo-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: purple;
    font-weight: bold;
    background-color: white;
}

.card-title {
    color: purple;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-img {
    background-size: cover;
}

.card-body {
    background-color: white;
}

.video-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: purple;
    font-weight: bold;
    background-color: white;
}

.yt-video {
    width: 100%;
    height: 400px;
}
/*END GALLERY*/

/*START TESTIMONIALS*/
#testimonials {
    background-color: white;
}

.testimonials-title {
    color: purple;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials {
    border-left: 4px solid purple;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials p {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.user-details {
    display: inline-block;
    font-size: 13px;
}

.fa-star {
    color: yellow;
    font-size: 14px !important;
}

#review-button {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    border: 7px solid blueviolet;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#review-button:hover {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    color: white;
    border: 7px solid purple;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.testimonials-container {
    margin-bottom: 30px;
}
/*END TESTIMONIALS*/

/*START CONTACT*/
#contact {
    background-color: purple;
    padding-bottom: 1px;
}

.contact-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 50px;
}

.con-row {
    margin-bottom: 30px;
}

.social-media {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#maps {
    width: 100%;
}

.sosmed-list {
    margin-bottom: 20px;
}

.social-icons {
    font-size: 50px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.social-icons:hover {
    background-color: white;
    color: purple;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.alamat {
    margin-top: 80px;
}

.address-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.address-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

#writer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 30px;
    color: white;
}

.writer-insta {
    color: white;
    font-weight: bold;
}

.writer-insta:hover {
    color: white;
}
/*END CONTACTS*/

/*START FOOTER*/
#footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}
/*END FOOTER*/